@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
}

.nav_logo{
    color: rgb(19, 18, 18);
    margin: 10px;
    padding: 10px;
}

.view_about{
    color:#a83f1f;
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 3s;
    padding: 20px;
    margin: 0 auto;
    
}
.view_about:hover {
    text-decoration: underline;
    
}
a:hover i{
    color: rgb(110, 6, 6);
}
.intro{
    color:#ca7b7b;
    text-align: center;
    margin-top: 250px;
    width: 60%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.intro_sub{
    text-align: left;
    margin-bottom: 60px;


}
.fa-arrow-right:hover{
    color: rgb(229, 233, 10);
    transform: rotate(90deg); 
} 

.view--work{
    color: rgb(7, 7, 7);
    height: auto;
    width: 190px;
    padding: 2px;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid rgb(153, 66, 66);
    
}
@media screen and (max-width: 800px){
    *{
        font-size: 17px;
    }
}

@media  screen and (max-width: 900px) {
    .view--work{
        width: 200px;
}
}

.navigation_aside_list {
    position: absolute; 
    top: 0; 
    height: 50vh; 
    width: 50%; 
    opacity: 1;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
} 

.navigation_aside{
    position: fixed; 
    top: 0;
    inset: 0 20% 0 0; 
    height: 50vh; 
    width: 70%; 
    background:#49331d; 
    opacity: 1;
    z-index: 1000;
    display: flex;
    border-radius: 0 50% 0 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform .40s ease-out;
}
.navigation_aside[data-visible="true"]{
    transform: translateX(0%); 
}
.navigation_aside_list_link{
    color: white;

}
.navigation_aside_toggle{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-size: 34px;
    color: white;
    cursor: pointer;
}
.aside_toggle--home{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    font-size: 34px;
    color: rgb(241, 129, 129);
    cursor: pointer;
}
.navigation_aside_close{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10000;
    font-size: 34px;
    color: white;
    cursor: pointer;
}
.aside_close--home{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
    font-size: 34px;
    color: white;
    cursor: pointer;
}
.nav_aside {
    position: absolute; 
    top: 0; 
    height: 100vh; 
    width: 100%; 
    background:#4e4e6e; 
    opacity: 1;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all .40s ease-out;
} 

.nav_aside[data-visible="true"]{
    transform: translateX(0%); 
}
 .navigation_aside_list{
    list-style-type: none;
}
.navigation_aside_list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
 .navigation_aside_list_link {
    color: white; 
    font-size: 6vmin; 
    line-height: 8vmin; 
    text-decoration: none;
    -webkit-transition: all .25s ease-out; 
    transition: all .25s ease-out;
}
.aside_list_link--home{
    color: white; 
    font-size: 6vmin; 
    line-height: 10vmin; 
    text-decoration: none;
    -webkit-transition: all .25s ease-out; 
    transition: all .25s ease-out;
}
.navigation_aside_list_link:hover,.navigation_bar_link:hover,.aside_list_link--effect:hover{
    color: rgb(218, 72, 10);
    text-decoration: underline;
    transform: scale(1.5);
}
.navigation_aside_list_link:active,.navigation_bar_link:active {
    color: rgb(223, 74, 10);
    text-decoration: underline;
    transform: translateX(6px);
}

.aside_list_link--home:hover,.navigation_bar_link:hover,.aside_list_link--effect:hover{
    color: rgb(218, 72, 10);
    text-decoration: underline;
    transform: scale(1.5);
}
.aside_list_link--home:active,.navigation_bar_link:active {
    color: rgb(223, 74, 10);
    text-decoration: underline;
    transform: translateX(6px);
}

.home {
    width: 100%;
    height: 100vh;
    position: absolute;
    padding-bottom: 0;
    background-image: url("images/image01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.animate {
    position: absolute;
    top: 0;
    left: 0;
   width: 50%;
    height: 40%;
    overflow: hidden;
}

.animation .animate li{
    position: absolute;
    display: block;
    list-style-type: none;
    width: 10%;
    height: 10%;
    border-radius: 40% 50% 30% / 50% 40% 50%;
    background-color: rgba(87, 83, 83, 0.5);
    animation: animate 10s linear infinite;
}

.animation .animate li:nth-child(1){
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 1%;
    height: 2%;
    animation-delay: 4s;
}

.animation .animate li:nth-child(2){
position: absolute;
    left: 30%;
    bottom: 0;
    width: 1%;
    height: 2%;
    animation-delay: 1s;
}

.animation .animate li:nth-child(3){
position: absolute;
    left: 50%;
    bottom: 0;
    width: 1%;
    height: 2%;
    animation-delay: 2s;
}

.animation .animate li:nth-child(4){
position: absolute;
    left: 70%;
    bottom: 0;
    width: 1%;
    height: 2%;
    animation-delay: 0s;
}

.animation .animate li:nth-child(5){
    position: absolute;
    left: 90%;
    bottom: 0;
    width: 1%;
    height: 2%;
    animation-delay: 3s;
} 
 
@keyframes animate{
    from{
        transform: translateY(0) rotate(0deg);
    }

    to{
        transform: translateY(-900px) rotate(360deg);
        opacity: 0;
    }
}

.navigation{
    width: 100%;
    height: 50PX;
    background-color:rgba(180, 49, 49, 0.788);
    border-bottom: 2px solid rgb(143, 240, 17);
}

.navigation_aside_list_indiv{
    list-style-type: none;
}

.navigation_bar{
    display: none;

}
.navigation_logo{
    float: right;
    padding-right: 15px;
}
@media screen and (min-width: 673px){
    .header_toggle{
        display: none;
    }
    .navigation_logo{
        display: none;
    }
    .navigation_bar{
        border-bottom: 4px solid rgb(236, 9, 141); 
        height: 100%;
        width: 100%;
        display: flex;
        background-color:#756868;
        align-items: flex-end;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
       }
           
        .navigation_bar_list{
            list-style-type: none;
            margin-left: 1.5%;
            margin-right: 1.5%;
            margin-bottom: 0;
           
        } 
       .navigation_bar_link{
           text-transform: uppercase;
           color: white;
           font-size: 1.2rem;
           text-decoration: none;
       } 
       .navigation_aside_toggle{
           display: none;
       }
       
     
 }

/* about page css code starts.................................................................*/
.about-body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.7rem 6fr .5fr;
    grid-template-areas: "header"
                        "main"
                        "footer";
}
.about-header{
    grid-area: header;
}
.about-main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
.about-navigation{
    height: 100%;
}
.about-body{
    background-color:#d3d5eb;
    color: rgb(15, 15, 15);
   
}
.image_me{
    width: 100%;
    
}
.image-content_headline{
    text-align:center;
    text-decoration: italic; 
    padding: 7px;
    margin: 0 auto;
}
.image-content_name{
    text-align: center;
    margin: 0 auto;
}
.image-content_paragraph{
    padding: 5px;
    padding-bottom: 15vmin;
    max-width: 90%;
    margin: 0 auto;
}
.about-section{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.about-section_div{
    margin-bottom: 2rem;
    max-width: 690px;
}
.about-section_div_header{
    margin-bottom: 1rem;
}
.image-content{
    
    background-color: rgb(230, 230, 247);
} 
@media screen and (min-width: 900px) {
    .image-content_paragraph{
        padding: 5px;
        padding-bottom: 15vmin;
        max-width: 690px;
        margin: 0 auto;
    }
}

 /*About page css code for large screen ..........................................................*/
 @media screen  and (min-width: 1330px) {
    .about-section{
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .about-section_div{
        text-align: left;
        margin-bottom: 2rem;
        max-width: 80%;
    }
    .about-section_div_header{
        margin-bottom: 1rem;
        padding-left: 0;
        text-align: left;
    }
    .image-content{
        text-align: center;
        width: 100%;
        padding-top: 20vmin;
        background-color: rgb(86, 86, 90);
    } 
    .image{
        flex: 0 1 150vmin;
    }
  .image_me{
      width: 100%;
      float: left;
      border-bottom: 1px solid rgb(170, 43, 43);
  }   
  .image-content_paragraph{
      text-align: center;
      margin: 0 auto;
  }
  .about-main{
      display: flex;
      align-items: stretch;

  }
  .about-body{
     background-color:#585757;
     color: rgb(250, 245, 245);
 }
 .image-content_paragraph{
     padding: 5px;
     padding-bottom: 200px;
 }
 
}
/* about page css code ends..................................................................................*/
/* contact page css code start.............................................................................. */
.contact-body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.7rem 6fr .5fr;
    grid-template-areas: "header"
                        "main"
                        "footer";
    background-color:#4a4b4e;
}
.contact-header{
    grid-area: header;
}
.contact-main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
.contact-navigation{
    height: 100%;
}

.contact-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color:#4a4b4e;
    margin: 0 auto;
    text-align: center;
}
.contact-container_underline{
    width: 9rem;
    height: .6vmin;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.contact-container_header{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1vmin;
    margin-top: 2.5rem;
    
}
.contact-container_paragraph{
    color:aqua;
    margin: .5vmin;
    margin-bottom: 40px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: left;
    color: white;
}
.contact-form_name,.contact-form_email,.contact-form_textarea{
    width: 100%;
    background-color: rgb(66, 64, 64);
    color: white;
}
.contact-form_lable{
    display:none;
}
.contact-form_name,.contact-form_email{
    height: 2.5rem;
}
.contact-form_textarea{
    height: 5rem;
}
.submit{
    width: auto;
    border-radius: 1px;
    background-color:#181515;
    color: white;

}
.submit:hover{
    box-shadow: 2px 4px 15px rgb(170, 3, 3);
}
.contact-main{
    background-color:#4a4b4e;
}


@media screen and (min-width: 376px){
    .contact-container{
        display: flex;
        flex-direction: column;
        width: 370px;
        background-color:#4a4b4e;
        margin: 0 auto;
        text-align: center;
    }
    .contact-container_underline{
        width: 9rem;
        height: .6vmin;
        background-color: white;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .contact-container_header{
        font-size: 2.5rem;
        color: white;
        margin-bottom: 1vmin;
        margin-top: 2.5rem;
    }
    .contact-container_paragraph{
        color:aqua;
        margin: .5vmin;
        margin-bottom: 40px;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .contact-form_name,.contact-form_email,.contact-form_textarea{
        width: 100%;
    }
    .contact-form_name,.contact-form_email{
        height: 2.5rem;
    }
    .contact-form_textarea{
        height: 7rem;
    }
    .submit{
        width: auto;
        border-radius: 1px;
        background-color:#1a191d;
        color: white;
        font-size: 24px;
    }
    .submit:hover{
        box-shadow: 2px 4px 15px rgb(170, 3, 3);
    }
    .contact-main{
        background-color:#4a4b4e;
    }
    
    
}
/* contact page css code ends.............................................................................. */


/*blog page css code starts...........................................................................................*/
.blog-body{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 2.7rem 6fr .5fr;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
}
.blog-header{
    grid-area: header;
    color: black;
}
.blog-navigation{
    height: 100%;
}
.blog-main{
    grid-area: main;
    background-color:#dbdce0f1;
    
}
.footer{
    grid-area: footer;
}
.blog-section_arti_date-underline{
    padding-top: 3px;
    padding-bottom: 9px;
    width: 150px;
    height: .3px;
    background-color:aqua;
}
.blog-section{
    display: flex;
    flex-direction: column;
    background-color:#f5f2f2;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.blog-section_arti_headline{
    padding: 1em;
    font-size: 24px;
    padding-left: 0;
}
.blog-section_arti_images{
    max-width: 100%; 
    /* min-width: 400px; */
}
.blog-section_arti_sub-headline{
    padding-bottom: 5px;
}
@media screen and (min-width: 768px){
    .blog-section{
        display: flex;
        flex-direction: column;
        background-color:white;
        height: 100%;
        max-width: 45%;
        margin: 0 auto;
    } 
    .blog-section_arti_headline{
        padding: 1em;
        font-size: 32px;
        padding-left: 0;
    }
}

.blog-section_arti_images{
    max-width: 100%;
    /* min-width: 350px  */
    
}
.blog-section_arti{
    max-width: 100%;
    margin: 10px auto;
    padding: 2px;
    flex: 1 1 auto;
    box-shadow: 10px 10px whitesmoke;
    border-bottom: 1px solid black;
}
.blog-section_arti_headline{
    padding: 1em;
    font-size: 24px;
    padding-left: 0;
}
.blog-section_arti_paragraph{
    padding-bottom: 1em;
}

/*blog page css code ends..........................................................................................*/


/*portfolio page css code starts...................................................................................*/
.portfolio-body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.7rem 6fr .5fr;
    grid-template-areas: "header"
                        "main"
                        "footer";
}
.portfolio-header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}
.portfolio-navigation{
    height: 100%;
}
.portfolio-main{
    grid-area: main;
}
.portfolio-section{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 90%;
}
.portfolio-section_arti{
    width: 45%;
    margin: 0 auto;
    padding: 10px;

}
.portfolio-section_arti_heading{
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(121, 10, 10);
}
.portfolio-section_arti_images{
    max-width: 100%;
}
@media screen and (max-width: 600px){
    .portfolio-section{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        width: 90%;
    }
    .portfolio-section_arti{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        border-bottom: 1px solid burlywood;
    
    }
    
}


/*footer css code for all pages..................................*/
.footer{
    border-top: 2px solid rgb(139, 197, 5);
    width: 100%;
    height: auto;
    background-color: rgb(55, 56, 55);
    text-align: center;
    color: black;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
.footer .fas,.fab{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
.footer .fas:hover,.fab:hover{
    transform: scale(1.2);
    color:rgb(150, 201, 10);
    box-shadow: 2px 3px 15px red;
    text-decoration: none;
}

.footer_paragraph_link:hover{
    color:rgb(218, 57, 8);
    text-decoration: underline;
    box-shadow: 2px 3px 6px salmon;
}
.footer_div_content,.footer_paragraph,.footer_paragraph_link{
    margin: 10px;
}
.footer_social-medias{
    margin: 10px auto;
    max-width: 90%;
    border-bottom: 1px solid rgb(14, 113, 194);
}
.footer_div{
       display: flex;
       flex-wrap: wrap;
       margin: 0 auto;
       max-width: 90%;
       border-bottom: 1px solid red;
}
.footer_div_content{
    padding-top: 0;
    margin-top: 0;
    color: white;
}
.footer_paragraph{
   margin-left: 15%;
   color: white;
}
.footer_paragraph_link{
    color:#DBDBDB;
    text-decoration: underline rgb(231, 77, 5);
}
   
.email{
    color: #DBDBDB;
}
.github{
    color:#DBDBDB;
}
.telegram{
    color:#DBDBDB;
}
.linkedin{
    color:#DBDBDB;
}
@media screen and (max-width: 1000px){
    .footer_div_content{
        padding-top: 0;
        margin-top: 0;
    }
    .footer_paragraph{
        margin-left: 15%;
        float: left;
     }
     .footer_div{
        display: inline-block;
        margin: 0 auto;
        max-width: 90%;
        border-bottom: 1px solid red;
 }
 
}
/*footer css code for all pages ends.................................................................*/
/*cv page css code starts.......................................................................*/
.cv-body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.7rem 6fr .5fr;
    grid-template-areas: "header "
                        "main "
                        "footer";
    background-color: rgb(172, 169, 169);
}

.cv-header{
    grid-area: header;
    margin: 0;
    width: 100%;
}
.cv-navigation{
    height: 100%;
    margin: 0;
}
.cv-main{
    grid-area: main;
    font-size: 14px;
}
footer{
    grid-area: footer;
}
.cv-main-section{
    max-width: 950px; 
    margin: 1px auto;
    background-color: white;
    box-shadow: 10px 10px 15px rgb(235, 218, 203);
}
.cv-main-section_container{
    width: 100%;
    margin: 10px auto;
    display: flex;
}
.cv-main-section-image{
    width: 150px;
}
.cv-main-section-image_me{
    width: 150px;
}
.cv-main-section_container_content{
    max-width: 60%;
    padding: 3px;
    margin-left: 5px;
}
.cv-main-section_container_div{
    border-left: 1px solid blue;
    height: 4%;
    margin-top: 10px;
    margin-left: 10px;
}
.cv-main-section-article{
    margin-left: 150px;
    text-align: left;
    
}
.cv-main-section_container_div .fas{
    display: inline-block;
    line-height: 20px;
}
@media screen and (max-width: 1000px){
    .cv-main-section{
        height: 100%;
    }
    .cv-main-section_container{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 0;
    }
    .cv-main-section-image_me{
        width: 150px;
        margin-top: 5px;
    }
    .cv-main-section_container_div{
        border-left: none;
        height: auto;
        margin: 0 auto;
    }
    .cv-main-section-image{
        width: 100%;
        margin-right: auto ;
    }
    .cv-main-section_container_content{
        max-width: 60%;
        padding: 3px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 760px){
    .cv-main-container{
        width: 100%;
        height: 100;
        display: inline-block;
        text-align: center;
        padding: 0;
    }
    .cv-main-section_container_div{
        border-left: none;
        height: auto;
        margin: 0 auto;
        
    }
    .cv-main-section-image{
        width: 100%;
        margin-right: auto ;
    }
    .cv-main-section_container_content{
        max-width: 60%;
        padding: 3px;
        margin: 0 auto;
    }
    .cv-main-section-article{
        /* margin-top: 50%; */
        margin-left: 10px;
        text-align: left;
    }
}
/* cv page css code ends here.................................................................*/
/*skill page css code starts here..............................................................*/
.skill-body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.7rem 6fr .5fr;
    grid-template-areas: "header "
                        "main "
                        "footer";
}
.skill-header{
    grid-area: header;
}
.skill-navigation{
    height: 100%;
}
.skill-main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
.skill-main_header{
    border-bottom: 2px solid rgb(10, 209, 60);
    width: 76px;
    margin: 0 auto;
    font-size: 27px;
}
.skill-main_table i:hover{
    cursor:default;
    transform: none;
}
.skill-main_table{
    width: 90%;
    margin: 50px auto;
    border: 0px solid rgb(6, 3, 192);
}
.skill-main_table td{
    border: 0px solid rgb(131, 131, 130);
}
.skill-main_table th{
    text-align:left;
    border: 0px;
}
.skill-main_table_images{
    max-width: 90px;
}
.skill-main_table tr:nth-child(even) {
    background-color: #dddddd;
  }
  .skill-main_table tr:nth-child(odd) {
    background-color: #af9c9c;
  }
@media screen and (max-width: 1000px){
    .skill-main_table td{
       display: block;
       max-width: 50%;

    }
    .skill-main_table tr{
        margin: 30px;
        padding: 30px;
    }
}
/*skill page css code ends here..............................................................*/
